.FooterContainer {
  margin-top: 80px;
  background-color: #1F1F1F;
  padding: 72px 0px 88px;
}
.footerLinks {
  border-bottom: 1px solid #ccc !important;
}
.footerRight a {
  color: #ffff !important;
}
.footerRight a:hover {
  border-bottom: 1px solid #247f9e !important;
  padding: 0 0.5em !important;
}
